{% extends 'base.html.twig' %}

{% block title %}ModePaiement index{% endblock %}

{% block body %}
    <h1>ModePaiement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Designation</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mode_paiement in mode_paiements %}
            <tr>
                <td>{{ mode_paiement.id }}</td>
                <td>{{ mode_paiement.designation }}</td>
                <td>{{ mode_paiement.description }}</td>
                <td>
                    <a href="{{ path('app_mode_paiement_show', {'id': mode_paiement.id}) }}"><span class="fa fa-search-plus"></span></a>
                    <a href="{{ path('app_mode_paiement_edit', {'id': mode_paiement.id}) }}"><span class="fa fa-edit"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4"class="text-warning">aucun enregistrement dans le système</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mode_paiement_new') }}"class="btn btn-primary">Créer nouveau</a>
{% endblock %}
