{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <h1>Facture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Client</th>
                <th>Prix Total</th>
                <th>Observation</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ facture.client }}</td>
                <td>{{ facture.prixTotal }}</td>
                <td>{{ facture.observation }}</td>
                <td>{{ facture.date ? facture.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.updatedAt ? facture.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_facture_show', {'id': facture.id}) }}"><span class="fa fa-search-plus"></span></a>
                    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}"><span class="fa fa-edit"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8"class="text-warning">aucun enregistrement dans le système</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facture_new') }}"class="btn btn-primary">Créer nouveau</a>
{% endblock %}
